<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h4>Your Name *</h4>
    <div class="first-last-name">
      <%= f.input :first_name, label: false, placeholder: 'First name' %>
      <%= f.input :last_name, label: false, placeholder: 'Last name'%>
    </div>
    <%= f.input :email, label: false, placeholder: 'Email' %>
    <%= f.input :phone_number, label: false, placeholder: '(xxx) xxx-xxxx' %>
    <%= f.input :message, label: false, placeholder: 'Type your message here...'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>
